
.nav  li a{
  font-size: 120%; font-weight: 600;
  color: rgb(245, 240, 240); height: 100%;
  padding-left: 20px; padding-right: 20px;
  background: none !important;
  position: center;
  text-decoration:none;
  
}
.nav > li {
  float:left;
}

.nav li a:hover {
  color: rgb(155, 11, 11);
  border-style: none;
  transition: all .6s;
}


ul, ol {
  list-style:none;
}
.nav li ul {
  display:none;
  position:absolute;
  background-color: #0c359c;
  width:20%;
}

.nav li:hover > ul {
  display:block;
}
.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-10px;
  top:0px;
}
.submenu{
  position: absolute;
  background-color: #0c359c;
  width:20%;
  list-style: none;
 /* visibility: hidden;
  opacity: 0;
  transition:opacity 1.5s;*/
  
}
.submenu{
  display: none;

}
.nav-link li a {
  background-color:#000;
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}
.nav-link li:hover > .submenu {
  display:block;
}

.nav-link li:hover .submenu{
  display:block;
  opacity: 1;
}