<nav class="navbar justify-content-center">
  <ul class="nav">
    <li><a href="">Inicio</a></li>
    <li><a href="">Registros</a>
      <ul>
        <li><a href="clienteRegistro">Clientes</a></li>
        <li><a href="empleadoRegistro">Empleados</a></li>
        <li><a href="habitacionRegistro">Habitaciones</a></li>
        <li><a href="acompananteRegistro">Acompañantes</a></li>

        </ul>
    </li>
    <li><a href="">Consultas</a>
      <ul>
        <li><a href="clienteConsulta">Clientes</a></li>
        <li><a href="empleadoConsulta">Empleados</a></li>
        <li><a href="habitacionConsulta">Habitaciones</a></li>
        <li><a href="acompananteConsulta">Acompañantes</a></li>
      </ul>
    </li>
    <li><a href="reservaConsulta">Reservaciones</a></li>
  </ul>
</nav>